## Pandas DataFrame Oluşturma

In [2]:
import pandas as pd
import numpy as np

In [3]:
l = [1,2,34,47,51]
l

[1, 2, 34, 47, 51]

In [4]:
df = pd.DataFrame(l, index=[10,20,30,40,50], columns=["Değiskenler"])
df

    Değiskenler
10            1
20            2
30           34
40           47
50           51

In [5]:
m = np.arange(1, 10).reshape(3,3)
m

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [6]:
df = pd.DataFrame(m, columns=["var1", "var2", "var3"])
df

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

In [7]:
df.head()

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

In [8]:
df.columns = ["deg1", "deg2", "deg3"]
df

   deg1  deg2  deg3
0     1     2     3
1     4     5     6
2     7     8     9

In [9]:
type(df)

pandas.core.frame.DataFrame

In [10]:
df.axes

[RangeIndex(start=0, stop=3, step=1),
 Index(['deg1', 'deg2', 'deg3'], dtype='object')]

In [11]:
df.shape

(3, 3)

In [12]:
df.ndim

2

In [13]:
df.size

9

In [14]:
df.values

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [15]:
df.keys()

Index(['deg1', 'deg2', 'deg3'], dtype='object')