# Gözlem ve Değişken Seçimi: loc & iloc

In [2]:
import numpy as np
import pandas as pd

In [3]:
m = np.random.randint(1,30, size=(10,3))
df = pd.DataFrame(m, columns=["var1", "var2", "var3"])
df

   var1  var2  var3
0    25    22    21
1     8    27     4
2    21     9    29
3     6     5    14
4    13    12    25
5     1    15    17
6    21     5    29
7    19    19     8
8    28    14    28
9    21    21     6

In [4]:
#loc: Tanımlandığı şekil ile seçim yapmak için kullanılır

In [5]:
df.loc[0:3]

   var1  var2  var3
0    25    22    21
1     8    27     4
2    21     9    29
3     6     5    14

In [6]:
#iloc: Alışık olduğumuz indeksleme mantığı ile seçim yapar

In [7]:
df.iloc[0:3]

   var1  var2  var3
0    25    22    21
1     8    27     4
2    21     9    29

In [8]:
df.iloc[0,0]

25

In [9]:
df

   var1  var2  var3
0    25    22    21
1     8    27     4
2    21     9    29
3     6     5    14
4    13    12    25
5     1    15    17
6    21     5    29
7    19    19     8
8    28    14    28
9    21    21     6

In [10]:
df.iloc[:3,:2]

   var1  var2
0    25    22
1     8    27
2    21     9

In [11]:
df.loc[:3,"var3"]

0    21
1     4
2    29
3    14
Name: var3, dtype: int32

In [12]:
# Gözlem isimlerine göre bir seçim için loc kullanılmalı yani bir string varsa loc kullanıyoruz
# index üzerinden bir seçim varsa iloc kullanıyoruz
# Örnekler aşağıda gösterildi

In [13]:
df.iloc[:3, "var3"]

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

In [ ]:
df.loc[:3,:2]

In [ ]:
# Alternatif bir şekilde böylede kullanılabilir
df.iloc[0:3]["var3"]