# Koşullu Eleman İşlemleri

In [2]:
import numpy as np
import pandas as pd

In [3]:
m = np.random.randint(1,30, size=(10,3))
df = pd.DataFrame(m, columns=["var1", "var2", "var3"])
df

   var1  var2  var3
0     1    29    24
1     1    26    16
2    21    25     7
3     2    10     3
4    20     9    24
5    28     5     3
6    11    19     2
7    24     4     4
8     6    26    15
9     9    26    17

In [4]:
df["var1"]

0     1
1     1
2    21
3     2
4    20
5    28
6    11
7    24
8     6
9     9
Name: var1, dtype: int32

In [5]:
df[0:3][["var1", "var2"]]

   var1  var2
0     1    29
1     1    26
2    21    25

In [6]:
df[df.var1 > 12]

   var1  var2  var3
2    21    25     7
4    20     9    24
5    28     5     3
7    24     4     4

In [7]:
df[(df.var1 > 12) & (df.var3 < 8)]

   var1  var2  var3
2    21    25     7
5    28     5     3
7    24     4     4

In [8]:
df[(df.var1 > 12), ["var1", "var2"]]

InvalidIndexError: (0    False
1    False
2     True
3    False
4     True
5     True
6    False
7     True
8    False
9    False
Name: var1, dtype: bool, ['var1', 'var2'])

In [ ]:
df.loc[(df.var1 > 12), ["var1", "var2"]]

In [ ]:
df[(df.var1 > 12)][["var1", "var2"]]